.banner-conteiner-fluid{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: tomato;
    font-weight: lighter;
    padding: 5rem;
    margin: 0, 10rem;
}
.buttonCTA{
    padding: 10px;
    background-color: silver;
    border-radius: 2rem;
    
}