body{
  background-color: #c1bebe;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.bgImage{
  top: 8.5%;
  right: 0%;
  z-index: -1;
}
.mainBox{
  padding: 2%;

}
.titulo{
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 40%;
}
.paragrafo{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 30%;
}
.content {
  flex: 1; /* This makes the content grow to fill empty space */
}
.middlebox{
  min-width: 20rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
}